<h1>This is TASK LIST!!</h1>

<ul>
  <% @tasks.each do |task| %>
  
  <li>
    <%= link_to task.id, task_path(task.id) %> : <%= task.content %> &gt <%= task.status %>
  </li>
    
  <% end %>
  
</ul>

<%= link_to 'New Task Registration', new_task_path %>

