<div class="row">
  <div class="col-sm-6 offset-3">
    <div class="card bg-dart text-white">
      <img class="card-image" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      <div class="card-img-overlay">
        <h1><%= @user.name %></h1>
      </div>
    </div>
  </div>
</div>
